<!-- Toolbar -->
<div class="toolbar" role="banner">

  <img width="120" height="60" src="../assets/Images/logo-endless.svg">
  <p *ngIf = "noInternetConnection"> Offline Mode</p>

</div>
<div class="content" role="main" [ngStyle]="{'height':howItWorks.length>0 ? '90vh' : 'auto' }">
  <div class="image" [ngStyle]="{'min-height':howItWorks.length>0 ? '90vh' : 'intial' }">
    <div class="d-flex flex-row row-bottom">
      <div class="col-md-3">
        <h3>New Game & Accessories</h3>
      </div>

      <div class="col-md-2">
        <h1>Monthly Packages.</h1>
      </div>
      <div class="col-md-2">
        <h1>Exictment Delivered Daily.</h1>
      </div>
      <div class="col-md-3">
        <h4>What's the best way to shop for the latest video games
          <br>and participate ? How about never shoppingat all?
          <br>
          You will get new stuff on your doorstep - evey month
        </h4>
      </div>
      <div class="col-md-2" style="text-align: left;">
        <button type="button" class="btn btn-cyan" (click)=getHowToWork()>Get Started</button>
      </div>
    </div>


  </div>

</div>
<router-outlet></router-outlet>
<div class="container" *ngIf="howItWorks.length>0">
  <div class="center footer">
    <h1 class="center">How It Works</h1>
    <div class="row">
      <app-how-it-works *ngFor="let howItWork of howItWorks" [howItWork]="howItWork"></app-how-it-works>
    </div>
  </div>
</div>
